/* base */
html {
  font-size: 10px;
}

:root {
  --blue: #2081C3;
  --pink: #D94E73;
  --orange: #E4722C;
  --yellow: #FFC200;
  --cream: #FFF6F0;
  --charcoal: #4E4848;
}

body {
  background-color: var(--cream);
}

/* text styling */
h1 {
  color: var(--cream);
  font-family: "Funkydori", cursive;
  font-size: 4rem;
  line-height: 75%;
}

h2 {
  color: var(--yellow);
  font-family: "Funkydori", cursive;
  font-size: 3.2rem;
  line-height: 90%;
}

h3 {
  color: var(--pink);
  font-family: "Funkydori", cursive;
  font-size: 2.4rem;
  line-height: 75%;
}

p {
  color: var(--cream);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

h4 {
  color: var(--orange);
  font-family: "Josefin Sans", san-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

h5 {
  color: var(--orange);
  font-family: "Josefin Sans", san-serif;
  font-size: 1.6rem;
}

h6 {
  color: var(--orange);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

/* link styling */
a {
  color: var(--pink);
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
}

a:visited {
  color: var(--orange);
  text-decoration: underline;
}

a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

/* nav bar */
.nav-logo {
  width: 100%;
  height: 7.5rem;
  justify-content: center;
}

.nav-list {
  background-color: var(--yellow);
  margin: 0rem;
  padding: .5rem 1rem .5rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
  cursor: pointer;
}

.btn-primary {
  font-family: JosefinSans;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  color: var(--pink);
  background-color: var(--cream);
  border: .25rem solid var(--blue);
  outline: none;
  border-radius: .56rem;
  padding: 1rem 1rem .8rem 1rem;
  transition: all 200ms ease;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--blue);
  color: var(--yellow);
}

/* about me page grid */
.about-grid {
  display: grid;
  height: 75vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title pfp"
    "body pfp"
    "body pfp"
    "body pfp";
  grid-gap: 3rem;
  margin: 3rem 15rem 3rem 15rem;
}

.page-title {
  background-color: var(--blue);
  grid-area: title;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 3rem 1rem 3rem;
  justify-content: center;
  align-content: center;
}

.body-copy {
  background-color: var(--pink);
  color: var(--cream);
  grid-area: body;
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 3rem;
}

.pfp {
  grid-area: pfp;
  background: url("/img/profilePic.jpeg") center center;
  background-size: cover;
  aspect-ratio: 2 / 2.5;
  background-color: var(--pink);
  border-radius: 1rem;
}

/* image hover gallery demo */
.work-gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr;
  grid-gap: 1rem;
  margin: 2rem .5rem 2rem .5rem;
}

.card {
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  aspect-ratio: 3 / 2;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 250ms ease-out;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 246, 240, 0.2);
  backdrop-filter: blur(1px);
  opacity:0;
  transition:opacity 500ms;
}

.card-details h4 {
  text-align: center;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: var(--cream);
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
}

.card-details:hover {
  opacity:1;
}

/* new code vs old divider */
/* home page work grid */
/*
.work-grid {
  display: grid;
  justify-content: center;
  height: 175vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas:
    "project1 project2"
    "project3 project4"
    "project5 project6";
  grid-gap: 1.5rem;
  margin: 1.5rem .5rem 2rem .5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  color: var(--cream);
}

.proj-card {
  overflow: hidden;
  border-radius: 1rem;
  aspect-ratio: 3 / 2;
  cursor: pointer;
  position: relative;
}

.proj-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms ease-out;
}

.proj-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  padding: .5rem;
  opacity: 35%;
  transition:opacity 350ms;
}

.proj-details h4 {
  text-align: center;
  line-height: 1.5rem;
  color: var(--blue);
}

.proj-details:hover {
  opacity:1;
}

#project1 {
  grid-area: project1;
}

#project2 {
  grid-area: project2;
}


.work-grid a {
  color: var(--cream);
  text-decoration: none;
  text-align: center;
  transition: all 200ms ease;
}

.work-grid a:hover {
  color: var(--yellow);
  text-decoration: none;
  text-align: center;
}

.center-overlay {
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}
/*
#project1 {
  background: url("/img/thumbplaceholder.png") center center;
  background-size: cover;
  aspect-ratio: 3 / 2;
  background-color: var(--blue);
  grid-area: project1;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#project1 .center-overlay {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 3rem 3rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#project2 {
  background: url("/img/thumbplaceholder.png") center center;
  background-size: cover;
  aspect-ratio: 3 / 2;
  background-color: var(--blue);
  grid-area: project2;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#project2 .center-overlay {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 3rem 3rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#project3 {
  background: url("/img/thumbplaceholder.png") center center;
  background-size: cover;
  aspect-ratio: 3 / 2;
  background-color: var(--blue);
  grid-area: project3;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#project3 .center-overlay {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 3rem 3rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#project4 {
  background: url("/img/thumbplaceholder.png") center center;
  background-size: cover;
  aspect-ratio: 3 / 2;
  background-color: var(--blue);
  grid-area: project4;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#project4 .center-overlay {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 3rem 3rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#project5 {
  background: url("/img/thumbplaceholder.png") center center;
  background-size: cover;
  aspect-ratio: 3 / 2;
  background-color: var(--blue);
  grid-area: project5;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#project5 .center-overlay {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 3rem 3rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#project6 {
  background: url("/img/thumbplaceholder.png") center center;
  background-size: cover;
  aspect-ratio: 3 / 2;
  background-color: var(--blue);
  grid-area: project6;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#project6 .center-overlay {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 3rem 3rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}
*/


.grid-demo {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 1rem;
}

nav {
  background-color: var(--blue);
  grid-area: nav;
}

main {
  background-color: var(--pink);
  grid-area: main;
}

#sidebar {
  background-color: lightblue;
  grid-area: sidebar;
}

#content1 {
  background-color: var(--orange);
  grid-area: content1;
}

#content2 {
  background-color: var(--charcoal);
  grid-area: content2;
}

#content3 {
  background-color: lightgreen;
  grid-area: content3;
}

footer {
  background-color: var(--yellow);
  grid-area: footer;
}

/* for mobile: */
@media screen and (max-width: 800px) {
  /* nav bar */
.nav-logo {
  margin-left: 0rem;
  margin-right: 0rem;
  height: auto;
  justify-content: center;
}

.nav-list {
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  margin: .5rem;
}

nav-item:first-child {
  margin-left: 0rem;
  margin-right: 0rem;
  align-self: center;
}

/* work gallery */
.work-gallery {
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
}

.card-details:active {
  opacity:1;
}

/* home page grid */
/*
.work-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
  grid-template-areas:
  "project1"
  "project2"
  "project3"
  "project4"
  "project5"
  "project6";
}
*/

/* about me grid */
.about-grid {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "title"
  "pfp"
  "pfp"
  "pfp"
  "pfp"
  "body"
  "body"
  "body"
  "body";
  margin: 3rem 3rem 3rem 3rem;
  grid-gap: 2rem;
}

/* project page grid */
.grid-demo {
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
  grid-template-areas:
  "nav"
  "sidebar"
  "main"
  "content1"
  "content2"
  "content3"
  "footer";
}

  hr {
    height: .5rem;
    color: var(--yellow);
    background-color: var(--yellow);
    border: solid;
  }
}

/* for desktop: */
@media screen and (min-width: 801px){
  hr {
    height: .5rem;
    color: var(--yellow);
    background-color: var(--yellow);
    border: solid;
  }
}
