/* base */
html {
  font-size: 10px;
}

:root {
  --blue: #2081C3;
  --pink: #D94E73;
  --orange: #E4722C;
  --yellow: #FFC200;
  --cream: #FFF6F0;
  --charcoal: #4E4848;
}

body {
  background-color: var(--cream);
}

/* nav bar */
.nav-logo {
  width: 100%;
  height: 7.5rem;
  justify-content: center;
}

.nav-list {
  background-color: var(--yellow);
  margin: 0rem;
  padding: .5rem 1rem .5rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

/* need to figure out how to override link styling in nav bar */
.nav-item a:link{
  text-align: center;
  text-decoration: none;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
  cursor: pointer;
}

.btn-primary {
  font-family: JosefinSans;
  font-size: 1.8rem;
  color: var(--blue);
  text-align: center;
  background-color: var(--cream);
  border: .25rem solid var(--blue);
  outline: none;
  border-radius: .56rem;
  padding: 1rem 1rem .8rem 1rem;
  transition: all 200ms ease;
}

.btn-primary:hover {
  background-color: var(--blue);
}

/* text styling */
h1 {
  color: var(--blue);
  font-family: "Funkydori", cursive;
  font-size: 4rem;
  line-height: 75%;
}

h2 {
  color: var(--yellow);
  font-family: "Funkydori", cursive;
  font-size: 3.2rem;
  padding: 15px 0px 0px 0px;
  line-height: 90%;
}

h3 {
  color: var(--pink);
  font-family: "Funkydori", cursive;
  font-size: 2.4rem;
  line-height: 75%;
  padding: 5px 0px 0px 0px;
}

p {
  color: var(--blue);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

h4 {
  color: var(--orange);
  font-family: "Josefin Sans", san-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

h5 {
  color: var(--orange);
  font-family: "Josefin Sans", san-serif;
  font-size: 1.6rem;
}

h6 {
  color: var(--orange);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

/* link styling */
a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

a:link {
  color: var(--pink);
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
}

a:visited {
  color: var(--orange);
  text-decoration: underline;
}

.home-grid {
  background-color: purple;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  align-content: center;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem 2rem 1rem 2rem;
}

#project-1 {
  background-color: green;
  grid-row-start: 1;
  grid-row-end: 10;
}


#project-2 {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
}

#project-3 {
  background-color: green;
}

#project-4 {
  background-color: green;
}

#project-5 {
  background-color: green;
}

#project-6 {
  background-color: green;
}

/* for mobile: */
@media screen and (max-width: 800px) {
  /* nav bar */
.nav-logo {
  margin-left: 0rem;
  margin-right: 0rem;
  height: auto;
  justify-content: center;
}

.nav-list {
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  margin: .5rem;
}

nav-item:first-child {
  margin-left: 0rem;
  margin-right: 0rem;
  align-self: center;
}

/*
  #page-title {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    align-content: center;
    padding: 2rem 5rem 2rem 5rem;
    margin: .5rem 5rem .5rem 5rem;
  }

  .profilepic {
    width: 100%;
    height: auto;
  }

  .aboutme {
    margin: 5rem;
  }
*/

/* need to change this image command to reference my profile photo specifically
  img[class] {
    border-radius: 10%;
    border: .6rem dashed var(--blue);
  }
  */

  hr {
    height: .5rem;
    color: var(--yellow);
    background-color: var(--yellow);
    border: solid;
  }
}

/* for desktop: */
@media screen and (min-width: 801px){

  #page-title {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 2rem 10rem 2rem 10rem;
    margin: 1rem 10rem 1rem 10rem;
  }

  .aboutme {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5rem;
  }

  .profilepic {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    max-width: 80%;
    min-width: 50%;
    height: auto;
    margin: 5rem;
  }

/* need to change this image command to reference my profile photo specifically
  img[class] {
    border-radius: 10%;
    border: .6rem dashed var(--blue);
  }
*/
  hr {
    height: .5rem;
    color: var(--yellow);
    background-color: var(--yellow);
    border: solid;
  }
}
